
.main-card-box {
    color: #fff;
    background-color: #333;
    padding: 20px 0 30px;
    text-align: center;
  
    .main-card-box-inner {
      width: 1200px;
      margin: 0 auto;
      margin-bottom: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
  
      .current-series {
        position: absolute;
        padding: 10px 20px;
        margin: -40px -10px;
        text-transform: uppercase;
        background-color: #0282f9;
      }
  
      .comic-card {
        width: calc((1200px / 6) - 20px);
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        text-align: left;
        cursor: pointer;
  
        .comic-cover {
          width: 100%;
          height: calc((1200px / 6) - 20px);
          overflow: hidden;
  
          img {
            width: 100%;
          }
        }
  
        span {
          margin: 20px 0;
          text-transform: uppercase;
        }
      }
    }
    .more-comics {
      margin: 0 auto;
      padding: 10px 40px;
      background-color: #0282f9;
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 900;
    }
  }